/* start general css */
:root {
  /*  change  */
  --inspiration_color: #008ed4;
  --primary_color: #ed6436;
  --white_color: #fff;
  --black_color: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.01s ease;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

html {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  /* font-size: 10px; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  display: inline-block;
  background-color: transparent;
}

ul {
  list-style: none;
}

select,
input,
textarea,
button {
  background-color: none;
  outline: none;
  font: inherit;
}
select:active,
input:active,
textarea:active,
button:active {
  outline: none;
}

button {
  overflow: visible;
  cursor: pointer;
}

textarea {
  max-width: 100%;
  overflow: auto;
}

span {
  display: inline-block;
}

input, textarea, select {
  padding: 1rem 1.5rem;
}

input:not([type=submit]), textarea {
  font-size: 1.4rem;
}

input[type=submit] {
  cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
  border: none;
}

p {
  font-size: 1.4rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

/* ∞∞ IE ∞∞ */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

mark {
  background: #ff0;
  color: #000;
}

svg:not(:root) {
  overflow: hidden;
}

legend {
  border: none;
  padding: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* ∞∞ moz ∞∞ */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: none;
  padding: 0;
}

blockquote {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

fieldset {
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
progress {
  -webkit-appearance: none;
}

/* start helper classes */
.error{
  color: red;
  font-size: 1rem;
}
.paddB-35 {
  padding-bottom: 3.5rem;
}

.paddTB-35 {
  padding: 3.5rem 0;
}

.centerAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerGrid {
  display: grid;
  place-content: center;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* end helper classes */
/* end general css *//*# sourceMappingURL=common.css.map */